USE [master]
GO
/****** Object:  Database [QliBanHang2]    Script Date: 04/13/2022 15:20:20 ******/
CREATE DATABASE [QliBanHang2] ON  PRIMARY 
( NAME = N'QliBanHang2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QliBanHang2.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QliBanHang2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QliBanHang2_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QliBanHang2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QliBanHang2]
GO
/****** Object:  Table [dbo].[TK]    Script Date: 04/13/2022 15:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TK](
	[MaTB] [char](4) NOT NULL,
	[SlDau] [int] NULL,
	[TongSLN] [int] NULL,
	[TongSLX] [int] NULL,
	[SlCuoi] [int] NULL,
	[Namthang] [char](6) NOT NULL,
 CONSTRAINT [PK_TK] PRIMARY KEY CLUSTERED 
(
	[MaTB] ASC,
	[Namthang] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB]    Script Date: 04/13/2022 15:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB](
	[MaTB] [char](4) NULL,
	[TenTB] [nvarchar](100) NULL,
	[DvTinh] [nvarchar](10) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PNHAP]    Script Date: 04/13/2022 15:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PNHAP](
	[SoPN] [char](4) NULL,
	[Ngaynhap] [datetime] NULL,
	[SoDH] [char](4) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NV]    Script Date: 04/13/2022 15:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NV](
	[MaNV] [char](4) NULL,
	[TenNV] [nvarchar](50) NULL,
	[GioiTinh] [bit] NULL,
	[NgaySinh] [datetime] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[LienHe] [nvarchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KH]    Script Date: 04/13/2022 15:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KH](
	[MaKH] [char](4) NULL,
	[TenKH] [nvarchar](50) NULL,
	[DiaChiKH] [nvarchar](50) NULL,
	[DienthoaiKH] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTPHAP]    Script Date: 04/13/2022 15:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTPHAP](
	[SoPN] [char](4) NULL,
	[Ngaynhap] [datetime] NULL,
	[SoDH] [char](4) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
